<!-- sidebar -->
<div class="sidebar">
  <div style="margin-bottom: 20px">
    <label for="username">Username</label>
    <input id="username" type="text" [(ngModel)]="userNameField" />
  </div>
  <label for="">Mode</label>
  <div>
    <button (click)="onTrainMode()">Train</button>
    <button (click)="onAuthMode()">Auth</button>
  </div>
</div>

<!-- content -->
<div class="content">
  <h3>{{ mode }}</h3>
  <p>Session ID: {{ logger.sessionId }}</p>
  <div *ngIf="mode === 'Authentication'">
    <button (click)="authenticate()">Submit</button>
  </div>
  <div>{{ counter }}</div>
  <app-canvas #canvas (drawEnd)="onDrawEnd()"></app-canvas>
  <button (click)="reset()">Reset</button>
</div>

<router-outlet></router-outlet>
