.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: 1px solid gray;
}

.content {
  width: 80%;
  height: 100%;
  margin-left: 20%;
}

canvas {
  border: 1px solid gray;
}
